<div class="bg-black2 h-[8vh] w-full flex items-center gap-10 px-[3%] border-b-[#4F4F4F] border-b-[1px]">
    <div>
        <img src="../../../assets/logos/logo.png" alt="logo">
    </div>
    <div class="flex items-center bg-black py-2 px-5 rounded-[5px] w-[40%]">
        <img src="../../../assets/icons/search-icon.png" class="w-[13px] h-[15px]">
        <input placeholder="Search Item Here" class="placeholder pt-2 outline-none bg-transparent ml-2 text-sm  text-white w-[95%]">
    </div>
    <div class="">
        <ul class="flex gap-6">
            <li class="text-white text-[11px]">Explore</li>
            <li class="text-gray-600 text-[11px]">My Items</li>
            <li class="text-gray-600 text-[11px]">Following</li>
        </ul>
    </div>
    <div class="flex gap-4 w-[20%]">
        <button class="bg-gradient-to-r from-fromColor to-toColor pt-2 px-5  text-[11px] rounded-[5px] text-white w-[100px] ">Create</button>
        <button class="border-fromColor border-[1px] pt-2 px-5 text-[11px] rounded-[5px] text-primaryColor w-[100px]">Connect</button>
    </div>
</div>