<div class="">
    <div class="flex gap-[20%]">
        <div class="">
            <img src="../../../assets/logos/logo.png" alt="logo">
            <h3 class="mt-6 text-white text-[12px]">Get the lates updates</h3>

            <div class="bg-black w-[400px] items-center flex mt-6 rounded-[5px]">
             <input placeholder="Your email" type="text" class="bg-transparent outline-none w-[60%] text-white mt-2 mx-4 text-[11px]"/>
             <button class="bg-gradient-to-r from-fromColor to-toColor pt-4 pb-2 px-5  text-[11px] rounded-[5px] text-white  w-[40%]">Email Me!</button>
            </div>
        </div>
        <div class="mt-4">
            <h3 class="text-white">CryptoKet</h3>
            <ul class="mt-4">
                <li class="text-[11px] mt-2 text-gray-400 cursor-pointer">Explore</li>
                <li class="text-[11px] mt-4 text-gray-400 cursor-pointer">How it works</li>
                <li class="text-[11px] mt-4 text-gray-400 cursor-pointer">Contact us</li>
            </ul>
        </div>
        <div class="mt-4">
            <h3 class="text-white">Support</h3>
            <ul class="mt-4">
                <li class="text-[11px] mt-2 text-gray-400 cursor-pointer">Help center</li>
                <li class="text-[11px] mt-4 text-gray-400 cursor-pointer">Terms of service</li>
                <li class="text-[11px] mt-4 text-gray-400 cursor-pointer">Legal</li>
                <li class="text-[11px] mt-4 text-gray-400 cursor-pointer">Privacy policy</li>
            </ul>
        </div>
    </div>
</div>