<div class="w-full">
    <app-app-nav></app-app-nav>

    <div class="py-[2%] px-[15%] bg-black2">
        <app-banner></app-banner>
        <app-top-sellers></app-top-sellers>
        <app-hot-bids></app-hot-bids>
        <div class="flex justify-around my-[5%]">
            <app-button></app-button>
        </div>
    </div>
    <div class="bg-black2 w-full border-t-[#2D2E36] border-t-[1px] py-[2%] px-[15%]">
        <app-footer></app-footer>
    </div>
    <div class="bg-black2 w-full border-t-[#2D2E36] border-t-[1px] py-[2%] px-[15%]">
       <app-copyright></app-copyright>
    </div>
</div>