<div class="w-full">
    <app-app-nav></app-app-nav>
    
    <div class="bg-black2 px-[15%] flex">
        <div class="border-r-[1px] border-[#2D2E36] w-[50%] py-[5%]">
            <img src="../../../assets/images/hot-bid-1.png" alt="item" class="w-[80%] rounded-xl">
        </div>
        <div class="w-[50%] py-[5%] px-[3%]">
           <div class="flex justify-between items-center">
               <h1 class="text-white text-[1.5em] mt-2"> Abstact Smoke Red Blue</h1>
               <div class="flex items-center border-white border-[1px] p-1 px-2 rounded-full">
                   <img src="../../../assets/icons/like-icon.png" alt="likes" class="w-[10px]" >
                   <label class="text-[9px] ml-2 mt-[5px] text-white">97</label>
               </div>
           </div>

           <div>
               <label class="text-[10px] text-gray-400">From <span class="text-white">4.5ETh</span> . 20 of 25 available</label>
           </div>

           <div class="mt-4">
               <label class="text-gray-400 text-[11px]">Creator</label>
               <div class="flex items-center mt-2">
                   <img src="../../../assets/images/avatar-1.png" alt="seller" class="rounded-full w-[50px]">
                   <label class="text-[12px] text-white ml-4">Janne Ayana</label>
               </div>
           </div>

           <div class="mt-6">
             <ul class="flex gap-6 py-2 border-b-[0.5px] border-gray-600">
                 <li class="text-gray-400 text-[12px]">Details</li>
                 <li class="text-gray-400 text-[12px]">Offers</li>
                 <li class="text-gray-400 text-[12px]">History</li>
             </ul>
           </div>

           <div>
               <p class="text-[11px] text-gray-400 my-6"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                   Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book
               </p>
           </div>

            <div class="flex gap-4">
                <button class="bg-gradient-to-r from-fromColor to-toColor pt-4 pb-2 px-5  text-[11px] rounded-[5px] text-white w-[150px] ">Buy 4.5 ETH</button>
                <button class="border-fromColor border-[1px] pt-4 pb-2 px-5 text-[11px] rounded-[5px] text-primaryColor w-[150px]">Connect</button>
           </div>
        </div>
    </div>
    
    <div class="bg-black2 w-full border-t-[#2D2E36] border-t-[1px] py-[2%] px-[15%]">
        <app-footer></app-footer>
    </div>
    <div class="bg-black2 w-full border-t-[#2D2E36] border-t-[1px] py-[2%] px-[15%]">
       <app-copyright></app-copyright>
    </div>
</div>