<div class="w-full">
    <app-app-nav></app-app-nav>
    
    <div class="w-full h-[50vh] bg-black2">
        <div class="cover-image w-full h-[30vh]">
        </div>
        <div class="bg-transparent w-full -mt-[5%] flex justify-around items-center">
            <div class="w-2/12 flex items-center justify-around flex-col">
                <img src="../../../assets/images/avatar-1.png" alt="avatar" class="w-[150px] h-[150px] rounded-full border-4 border-black2"/>
                <img src="../../../assets/icons/checked-icon.png" class="-mt-[10%] ml-[30%]" />
                <label class="text-white mt-2">Jane Ayana</label>
            </div>
        </div>
    </div>

    <div class="py-[2%] px-[15%] bg-black2">
        <div>
            <div class="flex items-center bg-black py-2 px-5 rounded-[5px] w-[70%]">
                <img src="../../../assets/icons/search-icon.png" class="w-[13px] h-[15px]">
                <input placeholder="Search Item Here" class="placeholder pt-2 outline-none bg-transparent ml-2 text-sm  text-white w-[95%]">
            </div>
            <div>
                
            </div>
        </div>

        <app-hot-bids></app-hot-bids>
        <div class="flex justify-around my-[5%]">
            <app-button></app-button>
        </div>
    </div>
    <div class="bg-black2 w-full border-t-[#2D2E36] border-t-[1px] py-[2%] px-[15%]">
        <app-footer></app-footer>
    </div>
    <div class="bg-black2 w-full border-t-[#2D2E36] border-t-[1px] py-[2%] px-[15%]">
       <app-copyright></app-copyright>
    </div>
</div>