<div class="flex justify-between items-center">
    <h3 class="text-white text-[11px]">CrpytoKet, Inc. All Rights Reserved</h3>
    <div class="flex gap-4">
        <img src="../../../assets/logos/ig.svg" alt="logo" class="cursor-pointer">
        <img src="../../../assets/logos/twitter.png" alt="logo" class="cursor-pointer">
        <img src="../../../assets/logos/telegram.png" alt="logo" class="cursor-pointer">
        <img src="../../../assets/logos/discord.svg" alt="logo" class="cursor-pointer">
    </div>
</div>
